*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(128, 0, 0);
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dex {
    max-width: 450px;
    width: 100%;
    background-color: white;
    height: 90vh;
    padding: 30px;
    overflow: auto;
}

.title {
    display: flex;
    justify-content: center;
}

.search {
    display: flex;
    gap: 20px;
    width: 100%;
    margin-bottom: 30px;
}

.search input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2px solid red;
    border-radius: 20px;
    font-size: 17px;
    padding: 10px 25px;
}

.search button {
    border: none;
    outline: none;
    color: white;
    background-color: green;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 25px;
    cursor: pointer;
}

.definition-title, .synomyms-title, .pronunciation-title {
    display: flex;
    justify-content: center;
}

.definition-text, .synomyms-text {
    font-size: 18px;
    line-height: 25px;
}